<div class="row text-center justify-content-center">

  <h1 mat-dialog-title class="col-12">Сообщение</h1>
  <div mat-dialog-content class="col-12">
    <p>{{authData.message}}</p>
  </div>
  <div mat-dialog-actions class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-8 button-row " >

    <button *ngIf="!authData.pathRedirect" mat-button class="col-12" (click)="closeDialog()">Ок</button>
    <button *ngIf="authData.pathRedirect" mat-button class="col-12" (click)="redirect()">авторезироваться </button>
  </div>

</div>
