<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-6 col-xl-6 ">

      <div class="row justify-content-center mat-elevation-z16 form-auth container-position">

        <div class="text-decoration">
          <div class="row justify-content-center text-center ">
            <h3>Регистрация</h3>
          </div>
        </div>

        <mat-form-field class="example-full-width col-12">
          <input name="userLogin" matInput placeholder="Логин"  [formControl]="loginFormControl">
          <mat-error *ngIf="loginFormControl.hasError('pattern') && !loginFormControl.hasError('required')">
            Введите корректный логин. Длина от 4 до 20 латинских символов
          </mat-error>
          <mat-error *ngIf="loginFormControl.hasError('required')">
            Логин <strong>обязателен</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width col-12">
          <input name="userName" matInput placeholder="Имя"  value="" [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
            Введите корректный имя. Длина от 2 до 25 символов
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Имя <strong>обязателен</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width col-12">
          <input name="userLastname" matInput placeholder="Фамилия" [formControl]="lastNameFormControl">
          <mat-error *ngIf="lastNameFormControl.hasError('pattern') && !lastNameFormControl.hasError('required')">
            Введите корректный фамилию. Длина от 2 до 25 латинских символов
          </mat-error>
          <mat-error *ngIf="lastNameFormControl.hasError('required')">
            фамилия <strong>обязателен</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width col-12">
          <input name="userEmail" matInput placeholder="Email"  [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            пожалуйстя введите корректный Email
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            email <strong>обязателен</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width col-12">
          <input name="userPassword" matInput type="password" placeholder="Пароль" [(ngModel)] = "strObject.str" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Пароль <strong>обязателен</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width col-12">
          <input name="userConfirmPassword" matInput type="password" placeholder="Подтвердите пароль"  [formControl]="passwordConfirmFormControl">
          <mat-error *ngIf="passwordConfirmFormControl.hasError('required')">
            Пароль <strong>обязателен</strong>
          </mat-error>
          <mat-error *ngIf="passwordConfirmFormControl.errors">
            <strong>Пароли не совпадают</strong>
          </mat-error>
        </mat-form-field>

        <div class="row justify-content-center container-position" style="width: 100%">

          <div  class="col-12 text-center button-row" style="width: 100%">
            <button (click)="registry()" class="col-10 col-sm-8 col-md-8 col-lg-8 col-xl-8" mat-raised-button color="primary">Регистрация</button>
          </div>
         <div class="class=col-10 col-sm-8 col-md-8 col-lg-8 col-xl-8 text-center" style="width: 100%; margin: 3%">
           <a routerLink="/authorization" >Авторизация</a>
         </div>


        </div>

      </div>





    </div>

  </div>

</div>
